body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana;}
/* for main div*/
.maindiv {
    
    background-color:white;
    font-family:arial;
    color:black;
    width:550px;
    padding:20px;
    border-radius: 25px;
    margin: auto;
  
}
/* for main cotent*/
.maincont {
    font-family:arial;
    padding-left:70px;
    padding-top: 14px;
    font-weight: bold;

}

.footer{
    font-family:arial; 
    font-weight: bold;

}
/* for all tables*/
.td{

    padding-bottom: 15px;
    padding-left: 20px
}

.result{

    padding-bottom: 10px;
    padding-left: 20px;
    
}